@font-face {
    font-family: face;
    src: url(../);
}

// ******************************************************************** VARIABLES

// font

$font-size-titel: 30px;
$font-size-text: 16px;

// colors

$color-background: #F5F7FA;
$color-white: #ffffff;
$color-GLRgroen: #85D109;
$color-dropshadow: #98989825;
$color-letters: #000000;

// ******************************************************************** GLOBAL

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

// ******************************************************************** NAVBAR

.navbar{
    background-color: $color-GLRgroen;
    width: 150px;
    height: 100vh;
    display: grid;
    grid-row: 5;

.navbarLine{
    position: relative;
    width: 80%;
    height: 1px;
    background-color: #000000;
    left: 50%;
    transform: translate(-50%, 0);
}

.items{
    background-color: transparent;
    width: 150px;
    height: 150px;

    &:last-child{
        background-color: transparent;
    }
}
.items > div{
    background-color: #85D109;
    width: 80%;
    height: 80%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.logo{
    width: 90% !important;
    height: 90% !important;
}


}




// ******************************************************************** MEDIA QUERY

@media screen and (max-width: 600px) {
}

