@font-face {
    font-family: face;
    src: url(../);
}

// ******************************************************************** VARIABLES

// font

$font-size-titel: 30px;
$font-size-text: 16px;

// colors

$color-background: #f5f7fa;
$color-white: #ffffff;
$color-GLRgroen: #85d109;
$color-dropshadow: #98989825;
$color-letters: #000000;

// ******************************************************************** GLOBAL

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

// ******************************************************************** ...

#main-content {
    width: 100%;
    height: 100vh;
    position: relative;
}

#page-background {
    width: 30%;
    height: 100%;
    background-color: $color-GLRgroen;

    position: absolute;
    z-index: 0;
}

#login-box {
    width: 88%;
    height: 80%;

    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 32px 0px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;

    #login-box-left {
        background-image: url("/assets/images/backgroundGroen.png");
        background-position: left;

        background-size: cover;
        background-repeat: no-repeat;

        width: 27.25%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
            width: 60%;
        }
    }

    #login-box-right {
        width: 72.75%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        #welcome-message {
            text-align: center;
            margin-bottom: 10%;
            #titel {
                color: $color-GLRgroen;
                font-size: 70px;
            }

            #info {
                color: $color-GLRgroen;
                font-size: 20px;
            }
        }

        #input-fields {
            #username {
            }

            #password {
            }

            #login-button {
            }
        }
    }
}

// ******************************************************************** ...

.login {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
    h1 {
        text-align: center;
        color: #5b6574;
        font-size: 24px;
        padding: 20px 0 20px 0;
        border-bottom: 1px solid #dee0e4;
    }
    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 20px;
        label {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            background-color: #3274d6;
            color: #ffffff;
        }
        input[type="password"] {
            width: 310px;
            height: 50px;
            border: 1px solid #dee0e4;
            margin-bottom: 20px;
            padding: 0 15px;
        }
        input[type="text"] {
            width: 310px;
            height: 50px;
            border: 1px solid #dee0e4;
            margin-bottom: 20px;
            padding: 0 15px;
        }
        input[type="submit"] {
            width: 100%;
            padding: 15px;
            margin-top: 20px;
            background-color: #3274d6;
            border: 0;
            cursor: pointer;
            font-weight: bold;
            color: #ffffff;
            transition: background-color 0.2s;
            &:hover {
                background-color: #2868c7;
                transition: background-color 0.2s;
            }
        }
    }
}

.navtop {
    background-color: #2f3947;
    height: 60px;
    width: 100%;
    border: 0;
    div {
        display: flex;
        margin: 0 auto;
        width: 1000px;
        height: 100%;
        h1 {
            display: inline-flex;
            align-items: center;
            flex: 1;
            font-size: 24px;
            padding: 0;
            margin: 0;
            color: #eaebed;
            font-weight: normal;
        }
        a {
            display: inline-flex;
            align-items: center;
            padding: 0 20px;
            text-decoration: none;
            color: #c1c4c8;
            font-weight: bold;
            i {
                padding: 2px 8px 0 0;
            }
            &:hover {
                color: #eaebed;
            }
        }
    }
}
body.loggedin {
    background-color: #f3f4f7;
}
.content {
    width: 1000px;
    margin: 0 auto;
    h2 {
        margin: 0;
        padding: 25px 0;
        font-size: 22px;
        border-bottom: 1px solid #e0e0e3;
        color: #4a536e;
    }
    p {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
        margin: 25px 0;
        padding: 25px;
        background-color: #fff;
        table {
            td {
                padding: 5px;
                &:first-child {
                    font-weight: bold;
                    color: #4a536e;
                    padding-right: 15px;
                }
            }
        }
    }
    div {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
        margin: 25px 0;
        padding: 25px;
        background-color: #fff;
        table {
            td {
                padding: 5px;
                &:first-child {
                    font-weight: bold;
                    color: #4a536e;
                    padding-right: 15px;
                }
            }
        }
        p {
            padding: 5px;
            margin: 0 0 10px 0;
        }
    }
}

// ******************************************************************** ...

@media screen and (max-width: 600px) {
}
