@font-face {
    font-family: face;
    src: url(../);
}

// ******************************************************************** VARIABLES

// font

$font-size-titel: 30px;
$font-size-text: 16px;

// colors

$color-background: #f5f7fa;
$color-white: #ffffff;
$color-GLRgroen: #85d109;
$color-dropshadow: #98989825;
$color-letters: #000000;

// ******************************************************************** GLOBAL

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
}

// ******************************************************************** ...

#main-content {
    display: flex;
    flex-grow: 2;
    width: 100%;
    height: 100vh;
    position: relative;
}

// ******************************************************************** ...

#tab-nav {
    #tab-title {
        p {
        }
    }

    #tabs {
        p {
        }
    }
}

#content {
    .box {
    }
    #toevoegen {
        h1 {
        }

        #box-toevoegen {
            #naam {
                .titel {
                }

                .input-box {
                }
            }

            #geboortedatum {
                .titel {
                }

                .input-box {
                }
            }

            #geslacht {
                .titel {
                }

                .input-box {
                }
            }

            #email {
                .titel {
                }

                .input-box {
                }
            }

            .btn-toevoeg {
            }
        }
    }

    #importeren {
        h1 {
        }

        #box-toevoegen {
            p {
            }

            #voorbeeld-bestand {
            }

            #drag-drop {
                #drag-name {
                }

                #of-name {
                }

                #selecteer-bestand {
                }
            }

            #scheidlijn {
            }

            #bestanden {
                text {
                }
            }

            .btn-toevoeg {
            }
        }
    }
}

// ******************************************************************** ...

@media screen and (max-width: 600px) {
}
